@font-face {
  font-family: 'MapleMono';
  src: url('/assets/fonts/MapleMono-Regular.ttf') format('truetype');
}

:root {
  --bg-color: #191724;
  --fg-color: #e0def4;
  --selection-bg: #403d52;
  --font-family: 'MapleMono', monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font-family);
  overflow: hidden;
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
}